*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Inter', sans-serif;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#container{
    background-color: hsl(233, 47%, 7%);
    width: 100%;
    padding: 2rem 1rem;
}

#main{
    width: 100%;
    margin: 0 auto;
    background-color: hsl(244, 38%, 16%);
    border-radius: 10px 10px 10px 10px;
}

/* The picture */

#picture{
    width: 100%;
    border-top-left-radius: 20px;
     border-top-right-radius: 20px;
    filter: opacity(0.3) drop-shadow(0 0 0 rgb(255, 0, 255));
}

/* The content */

#content{
    padding: 1rem;
}

/*The header*/

#heading{
    color: white;
    margin: 1rem auto;
    padding: 1rem;
    text-align: center;
        font-size: 1.5rem;   
}
#headspan{
    color: hsl(277, 64%, 61%);
    font-weight: 700;
}

/* The paragraph */

.para{
    color: hsla(0, 0%, 100%, 0.5);
    margin: 0 1rem 1rem;
    line-height: 1.44rem;
    text-align: center;
    font-size: 1rem;
}

/* the bottom */

#bottoms{
    color:  hsla(0, 0%, 100%, 0.6);
    margin: 2rem auto;
    text-align: center;
}

.item{
    display: flex;
    flex-direction: column;
    margin: 1rem auto;
    text-transform: uppercase;
    font-size: .9rem;
}

.big{
    color: white;
    font-weight: 600;
    font-size: 1.5rem;
}

.attribution{
   height: 10px;
}
/* Media queries for laptops */

@media only screen and (min-width:815px){
    
    #container{
        height: 95vh;
    }
    #main{
        display: grid;
        grid-template-rows: 1fr;
        grid-template-columns: 3fr 2.9fr;
        grid-template-areas: "content image";
        width: 94%;

    }
    
    #content{
        grid-area: content;
        padding-right: 1.5rem;
        
    }
    #picture{
        grid-area: image;
        width: 100%;
        height: 100%;
        border-radius: 0 10px 10px 0;
    }
    #bottoms{
        display: flex;
    }
    #heading{
        margin: .5rem 0 ;
    }
    .para{
        font-size: .9rem;
        line-height: 1.3rem;
        text-align: left;
    }
    .item{
        font-size: .8rem;
    }
}
